body {
  background-color: #111111;
  font-family: Epilogue, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.noscroll {
  overflow-y: hidden;
}

.marginr {
  padding-right: 17px;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  transition: all 0.6s;
}

.overlay-show {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0));
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 50;
  transition: all 0.6s;
}

/* =======================================NAVIGATION================================================ */

.navigation {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
  pointer-events: none;
}

.navigation__all {
  width: 160px;
  display: flex;
  transition: all 0.2s;
  transform: translate(0, 200%);
}

._active-all {
  pointer-events: all;
  transition: all 0.6s;
  transform: translate(0, 0);
}

.navigation__all-btn {
  width: 160px;
}

.navigation__all-btnbefore {
  width: 55px;
  height: 30px;
  margin-top: 30%;
  transition: all 0.4s;
}

.navigation__all-btnbefore--active {
  transition: all 0.4s;
  transform: rotate(180deg);
}

.navigation__all-plus {
  pointer-events: none;
  opacity: 0;
  transform: translate(0, 150%);
  transition: all 0.5s;
}

.navigation__all-plus--active {
  pointer-events: all;
  opacity: 1;
  transition: all 0.5s;
  transform: translate(0, 0);
}

.all-plus--item {
  height: 69px;
  position: relative;
}

.all-plus--img {
  height: 80px;
  padding-bottom: 10px;
  transition: all 0.4s;
}

.all-plus--item::before {
  content: '';
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background-color: #cb450c;
  transition: 0.4s;
  z-index: 300;
}

#allitem1:hover::before {
  width: 394px;
}

#allitem2:hover::before {
  width: 200px;
}

#allitem3:hover::before {
  width: 100%;
}

/* =============================================HEADER======================================================== */

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  position: absolute;
  top: 30px;
  left: 30%;
  z-index: 500;
}

.header__bottom {
  width: 100%;
  height: 25vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.header__bottom-img {
  height: 25vw;
}

.header__bottom-img path {
  transition: all 0.25s ease;
}

.header__bottom-img:hover path {
  fill: #cb450c;
}

/* =============================================MAIN========================================================= */

.main {
  width: 100%;
}

/* ================================MAIN=SECTION=FRONTEND======================================= */

.main__frontend {
  width: 95%;
  margin: 12% auto 0;
  display: flex;
  flex-direction: column;
}

.main__frontend-top {
  display: flex;
}

.main__frontend-top--front {
  width: 50%;
  opacity: 0;
  transform: translate(-120%, 0);
  transition: all 1.2s ease 0s;
}

.main__frontend-top--end {
  width: 50%;
  opacity: 0;
  transform: translate(120%, 0);
  transition: all 1.2s ease 0s;
}

.main__frontend-bot {
  padding-top: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main__frontend-bot--developer {
  width: 69%;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 1.2s ease 0s;
}

.main__frontend-bot--about {
  width: 28%;
  color: #9c9c9c;
  font-family: Roboto, monospace;
  font-size: 1.5vw;
  word-spacing: -1px;
  white-space: nowrap;
}

.main__frontend-bot--about span {
  font-size: 1.2vw;
}

.main__frontend-top--end path,
.main__frontend-top--end rect,
.main__frontend-top--front path,
.main__frontend-bot--developer path {
  transition: all 0.25s ease;
}

.main__frontend-top--front:hover path,
.main__frontend-top--end:hover path,
.main__frontend-top--end:hover rect,
.main__frontend-bot--developer:hover path {
  fill: #cb450c;
}

._active {
  transform: translate(0, 0);
  transform: rotate(0);
  opacity: 1;
}

/* ===============================MAIN=SECTION=PORTFOLIO=============================== */

.main_portfolio {
  margin-top: 200px;
}

.main_portfolio-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 15px;
  position: relative;
}

.main_portfolio-menu {
  width: 35%;
  padding-left: 30px;
}

.main_portfolio-menu-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main_portfolio-menu-item {
  font-size: 4vw;
  color: #777;
}

.item-hover img {
  display: none;
}

.main_portfolio-menu-item a:hover {
  color: #cb450c;
}

.item-hover:hover img {
  display: block;
}

.item-hover-img {
  width: 1250px;
  height: 650;
  position: absolute;
  top: 0px;
  left: 550px;
}

.main_portfolio-body {
  width: 65%;
  height: 60%;
  background-color: #9c9c9c;
}


/* ============================================FOOTER========================================================== */

.footer {
  margin-top: 200px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
    url('./../images/2.jpg'), lightgray 49% / cover no-repeat;
  position: relative;
  height: 90vh;
}

.footer h2 {
  color: #cb450c;
  font-weight: 800;
  font-size: 10vw;
  text-align: center;
  padding-top: 0px;
  letter-spacing: -4px;
  line-height: 120%;
}

.footer-success {
  background-color: #77777779;
  color: #cb450c;
  width: 440px;
  height: 90px;
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #7777779c;
  transition: all 0.4s ease;
  transform: translateX(-120%);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 8%;
  left: 10%;
}

.success--active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

/* ==================================FOOTER=LEFT================================== */

.footer__left {
  position: absolute;
  top: 30%;
  left: 10%;
}

.footer__left--form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px auto 0;
}

.footer__left--form input {
  width: 440px;
  height: 82px;
  border-radius: 15px;
  background-color: #111111;
  box-shadow: 0px 0px 8px 1px #cb450c;
  color: #cb450c;
  font-size: 25px;
  font-weight: 700;
  padding-left: 20px;
}

.footer__left--form input:nth-child(2) {
  margin: 40px 0px 40px 0px;
}

.footer__left--form button {
  width: 440px;
  height: 82px;
  border-radius: 15px;
  background-color: #cb450c;
  box-shadow: 0px 0px 8px 1px #cb450c;
  border: 3px solid;
  color: #111111;
  font-size: 25px;
  font-weight: 700;
  transition: all 0.25s ease;
}

.footer__left--form input:focus {
  background-color: #cb450c;
  color: #111111;
  border: 3px solid;
}

.footer__left--form button:hover {
  border-color: #111111;
  background-color: #cb450cd8;
}

.footer__left--form button:focus {
  border-color: #111111;
  background-color: #111111;
  color: #cb450c;
}

:focus::placeholder {
  color: #1111114b;
}

::placeholder {
  color: #cb450cb9;
}

.footer__right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  align-items: end;
  position: absolute;
  top: 25%;
  right: 5%;
}

.footer__right-item {
  font-size: 6vw;
  font-weight: 800;
  line-height: 120%;
  color: #777777;
  transition: all 0.3s ease;
}

.footer__right-item:hover {
  color: #cb450c;
}

.item-hover path, .item-mail path, .footer__right-item svg {
  transition: all 0.25s ease;
}

.item-hover:hover path {
  fill: #cb450c;
}

.item-mail:hover path {
  stroke: #cb450c;
}