@font-face {
  font-family: KyivT;
  font-weight: 500;
  font-style: normal;
  src: local("KyivTypeSans"),
      url("../fonts/AnyConv.com__KyivTypeSans-Medium.woff2") format('woff2'),
      url("../fonts/AnyConv.com__KyivTypeSans-Medium.woff") format('woff'),
      url("../fonts/AnyConv.com__KyivTypeSans-Medium.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Acworth;
  font-weight: 700;
  font-style: normal;
  src: local("Jehoo-creative-acworth-bold"),
      url("../fonts/AnyConv.com__jehoo-creative-acworth-bold.woff2") format('woff2'),
      url("../fonts/AnyConv.com__jehoo-creative-acworth-bold.woff") format('woff'),
      url("../fonts/AnyConv.com__jehoo-creative-acworth-bold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Geometria;
  font-weight: 400;
  font-style: normal;
  src: local("Geometria"),
      url("../fonts/AnyConv.com__geometria_light.woff2") format('woff2'),
      url("../fonts/AnyConv.com__geometria_light.woff") format('woff'),
      url("../fonts/AnyConv.com__geometria_light.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Geometria;
  font-weight: 500;
  font-style: normal;
  src: local("Geometria"),
      url("../fonts/AnyConv.com__geometria_medium.woff2") format('woff2'),
      url("../fonts/AnyConv.com__geometria_medium.woff") format('woff'),
      url("../fonts/AnyConv.com__geometria_medium.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: Geometria;
  font-weight: 700;
  font-style: normal;
  src: local("Geometria"),
      url("../fonts/AnyConv.com__geometria_bold.woff2") format('woff2'),
      url("../fonts/AnyConv.com__geometria_bold.woff") format('woff'),
      url("../fonts/AnyConv.com__geometria_bold.eot") format('eot');
  font-display: swap;
}

